H1, H2, H3, H4, H5 { color: white }

BODY  {
        font-family: Arial,Tahoma,Veranda,
      }

UL LI {
        font-size: 70%
      }


.line {
        background-color: #333366;
      }

.light_line {
        background-color: #c9c9c9;
      }

.fill {
        background-color: #93939C;
      }

.fill_grey {
        background-color: #F1F1F1;
      }

.fill_dark_grey {
        background-color: #666666;
      }
.fill_light_grey {
        background-color: #cccccc;
      }

.row_header {
        background-color: #D3DDE5;
        text-align: center;
      }

.fill_site_header{
        background-color: #003366;

}

.fill_orange_header{
        background-color: #F3D6B3;
      }

.fill_orange{
        background-color: #F6EADD;
      }

.fill_brown_gray{
        background-color: #C9C7BA;
      }

.border{
        background-color: #000000;
       }

.tab_off {
        background-color: #446689;
      }

.tab_on {
        background-color: #4F84B9;
      }

.footer_fill {
        background-color: #003366;
        ;#446689;
      }


.tab_grey {
            color: #E0E4E9;
            font-size: 12px;
	    font-weight: normal;		
          }

.tab_white_bold {
            color: #ffffff; 
            font-size: 13px;
	    font-weight: bold;		
          }


.nav_link{
	   color: #0d1869;
           font-size: 11px;
           font-weight: bold;
          }

.error {
          color: #990000; 
          font-size: 12px;
	  font-weight: bold;
       }

.error_small {
                  color: #990000; 
                  font-size: 60%;
		  font-weight: bold;
                 }



.navigation_on {
              font-size: 70%;
              font-weight: bold;
              color: #ffffff;
            }

.navigation {
              font-size: 70%;
	      font-weight: normal;
              color: #F8C07E;
            }

.navigation_admin_on {
              font-size: 70%;
              font-weight: bold;
            }

.navigation_admin {
              font-size: 70%;
	      font-weight: normal;
            }

.news{
	  color: #660000;
        font-size: 11px;
        
     }

.specials {
              font-size: 100%;
		  font-weight: bold;
              color: #3E1204;
            }

.dark_yellow_bg{
                  background-color: #D3D8BF;
		   }

.white_bg{
                  background-color: #660000;
		   }

.dark_brown_bg {
                  background-color: #333333 
               }

.title{
	color: #000000;
        font-weight: bold;
        font-size: 12px;
        text-decoration: none;
      }


.center_title{
	color:  #336699;        
        font-size: 18px;
        text-decoration: none;
      }

.response{
	color: #660000;
        font-weight: normal;
        font-size: 12px;
        text-decoration: none;
      }

.title_white{
	color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
 }

.text_link{
	   color: #0d1869;
           font-size: 11px;
          }

.text_news{
	 color: #808080;
       font-size: 11px;
     }

.text_listing{
       color: #000000;
       font-size: 10px;
     }

.text_listing_blue{
       color: #666699;
       font-size: 10px;
     }

.text_listing_red{
       color: #660000;
       font-weight: bold;  
       font-size: 11px;
     }


.text{
       color: #4D5676;
       font-size: 12px;
     }

.text_link{
       color: #4D5676;
       font-size: 14px;
       font-weight: bold;
       text-align: center;
     }

.text_blue{
       color: #4D5676;
       font-size: 11px;
       font-weight: bold;
       
}

.text_body{
	 color: #808080;
       font-size: 12px;
     }

.text_price{
	  color: #990000;
        font-weight: bold;
        font-size: 11px;
        text-decoration: none;
      }

.blue {
       color: #0d1869;
       font-size: 12px;
       text-decoration: none;
      }

.bodysublink {
                 color: #336699;
                 font-weight: bold;
                 font-size: 11px;
                 text-decoration: none;
                 background-color: transparent
               }

.white { 
         color: white;
	   font-size: 70%
       }

.white_bold { 
              color:white;
              font-size: 75%;
              font-weight: bold;
            }

#big { font-size: 200% }
.link { font-size: 70% }

#upper { text-transform: uppercase }
.bold { weight: bold }



.events {
           color: #ffffff;
           font-weight: bold;
           font-size: 10pt;
           font-family: Verdana, Arial, Sans-serif
         }

.bodyheader{
            color: #333333;
            font-weight: normal;
            font-size: 16pt;
            font-family: Verdana, Arial, Sans-serif
          }

.boxtext7 {
            font-size: 70%
          }

.boxtext7_white {
            color: #ffffff; 
            font-size: 70%
          }

.boxtext7_orange {
            color: #F8C07E; 
            font-size: 70%
          }

.boxtext8_orange {
            color: #F8C07E; 
            font-size: 80%
          }

.boxtext8 {
            font-size: 80%
          }


.boxtext8_white {
            color: #ffffff; 
            font-size: 80%
          }


#A:link { color: #0d1869; text-decoration: none; }
#A:visited { color: #0d1869; text-decoration: none; }
#A:active { color: #0d1869; text-decoration: none; }
#A:hover { color: #0d1869;text-decoration: underline; }